@import 'util/$util';
@import 'layout/$layout';
@import 'color-sheme/$color-sheme';

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  overflow-x: hidden;

  .header,
  .footer {
    position: relative;
    z-index: 999;
  }
}

.hexagon {
  width: 500px;
  height: 470px;
  position: absolute;
  left: calc(50% - 250px);
  top: calc(50% - 235px);
  transform: scale(1.4);
  &__border {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url("../img/home/hex-border.png") no-repeat center;
  }
  span {
    overflow: hidden;
    display: block;
  }
  &__1 {
    transform: rotate(30.5deg);
    position: absolute;
    top: 8.5%;
    left: -28px;
    width: 553px;
    height: 454px;
  }
  &__2 {
    transform: rotate(118.5deg);
    width: 643px;
    height: 452px;
    position: absolute;
    top: 9%;
    left: -66px;
  }
  &__3 {
    position: absolute;
    width: 550px;
    height: 490px;
    transform: rotate(-75.5deg);
    left: -7%;
  }
  &__4 {
    position: absolute;
    width: 500px;
    height: 500px;
    transform: rotate(123.3deg);
    left: 2%;
    top: 12%;
  }
  &__5 {
    position: absolute;
    width: 500px;
    height: 500px;
    transform: rotate(-30deg);
    left: -9%;
    top: 8%;
  }
  &__6 {
    position: absolute;
    width: 500px;
    height: 500px;
    transform: rotate(-63.9deg);
    left: 5%;
    top: 0.8%;
  }
  &__pic {
    overflow: visible;
    width: 100%;
    height: 100%;
    transform: rotate(-102.9deg) translate(5px, 35px);
    position: relative;
  }
  &__clipped-pic {
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(.6);
    transition: all .1s linear;
  }
}
.hexagon2 {
  width: 500px;
  height: 470px;
  position: absolute;
  left: calc(50% - 250px);
  top: calc(50% - 235px);
  transform: scale(1.4);
  @media screen and (min-width: 0px) and (max-width: 767px) {
    transform: scale(.4);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    transform: scale(1);
  }
  &__border {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url("../img/home/hex-border.png") no-repeat center;
  }
  span {
    overflow: hidden;
    display: block;
  }
  &__1 {
    transform: rotate(30.5deg);
    position: absolute;
    top: 8.5%;
    left: -28px;
    width: 553px;
    height: 454px;
  }
  &__2 {
    transform: rotate(118.5deg);
    width: 643px;
    height: 452px;
    position: absolute;
    top: 9%;
    left: -66px;
  }
  &__3 {
    position: absolute;
    width: 550px;
    height: 490px;
    transform: rotate(-75.5deg);
    left: -7%;
  }
  &__4 {
    position: absolute;
    width: 500px;
    height: 500px;
    transform: rotate(123.3deg);
    left: 2%;
    top: 12%;
  }
  &__5 {
    position: absolute;
    width: 500px;
    height: 500px;
    transform: rotate(-30deg);
    left: -9%;
    top: 8%;
  }
  &__6 {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 5%;
    top: 0.8%;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0) rotate(-63.9deg);
  }
  &__pic {
    overflow: visible;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(-102.9deg) translate(5px, 35px) translateZ(0);
    transform: rotate(-102.9deg) translate(5px, 35px) translateZ(0);
    position: relative;
  }
  &__clipped-pic {
    padding: 0;
    width: initial;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(.8) translateZ(0);
    transition: all .9s ease;
    @media screen and (min-width: 0px) and (max-width: 767px) {
      transform: translate(-50%, -50%) scale(1);
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
.main {
  width: 100%;
}

.catalog-redirect {
  width: 180px;
  color: #fff;
  position: absolute;
  bottom: 100px;
  left: 200px;
  @media screen and (min-width: 0px) and (max-width: 767px) {
    text-align: center;
    left: calc(50% - 90px);
    transform: scale(.5);
    a {
      margin: 0 auto;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 250px;
    text-align: center;
    left: calc(50% - 125px);
    a {
      margin: 0 auto;
    }
  }
  &__descriptions {
    color: #fff;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
  }
  &__back {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0,0,0,.4);
    position: absolute;
    top: 10px;
    left: -5px;
    z-index: -1;
    transform: scale(1.5);
    filter: blur(10px);
  }
}
