// TC - text color
// BC - background color


//######################## header
$headerMenuHomeTC: $white;


//######################## slideshow-home
$arrowBorderColor: $white;
$arrowBC: $white;

//######################## footer
$socialsItemHomeTC: $white;
$phoneHomeTC: $white;
$socialsItemTC: $black;
$phoneTC: $black;

//######################## about
$mainTextBC: $potPourri;
$cardBorderColor1: $quicksand;
$cardBorderColor2: $roseFog;
$cardBodyBC: $white;
$cardTitleTC: $black;
$buttonBC: $leather $whiskey;
$buttonTC: $white;
$subscribeBC: $potPourri;
$subscribeTC: $black;
$subscribeInputBorderColor: $black;
$subscribeInputTC: $black;
$subscribeInputBC: $transparent;
$labelBC: $whiskey $leather;
$sliderArrowBC: $potPourri;

//########################## rent
$headBC: $potPourri;
$textHolderBC: $white;

//########################## category
$headBC: $potPourri;
$cardBorderColor: $potPourri;
$productBC: $white;
$sortTC: $spicyMix;