$transparent: transparent;
$concrete: #f2f2f2;
$white: #fff;
$black: #000;
$potPourri: #f3e6df;
$cameo: #d7ae96;
$spicyMix: #94624D;
//############ for gradient
$quicksand: #BFA499;
$roseFog: #E6C6B3;
//############
$whiskey: #D29A79;
$leather: #95634E;
//############