//################################### common
.pro-decor-btn,
a.pro-decor-btn {
  @include linearGradientToRight(nth($buttonBC, 1), nth($buttonBC, 2));
  color: $buttonTC;

  &--home {
    border-color:  #fff;
    background: transparent;
    color: #fff;
  }
  &--white {
    color: #000;
    background: #fff url("../img/icons/button-border.png") no-repeat center;
    &:hover {
      color: #fff;
      @include linearGradientToRight( nth($buttonBC, 1), nth($buttonBC, 2) );
    }
  }
}

.subscribe {
  background-color: $subscribeBC;
  &__text {
    color: $subscribeTC;
  }
  &__text {
    color: $subscribeTC;
  }
}

p.subscribe__text {
  color: $subscribeTC;
}

.pro-decor-input {
  &__field {
    border-color: rgba($subscribeInputBorderColor, .4);
    color: $subscribeInputTC;
    background-color: $subscribeInputBC;
  }
  &__label {
    @include linearGradientToRight(nth($labelBC, 1), nth($labelBC, 2));
  }
}

.menu.menu--home {
  .menu__link,
  .menu__link:visited,
  .menu__link:link {
    color: $headerMenuHomeTC;
    &:hover {
      color: $headerMenuHomeTC;
    }
  }
  .menu__items {
    @media screen and (min-width: 0px) and (max-width: 767px) {
      background: rgba(0,0,0, .5);
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      background: rgba(0,0,0, .5);
    }
  }
  .menu__hum {
    border: 2px solid #fff;
    span {
      background: #fff;
    }
  }
  .underline {
    background: #fff;
  }
}
.menu {
  &__hum {
    border: 2px solid #000;
    span {
      background: #000;
    }
  }
  .underline {
    background: #000;
  }
  &__link,
  &__link:visited,
  &__link:link {
    color: #000;
  }
}

.footer {
  .f-socials {
    &__item:nth-of-type(2) {
      background-color: $socialsItemTC;
    }
    &__item, &__item a {
      color: $socialsItemTC;
    }
  }
  &__phone, &__phone a {
    color: $phoneTC;
  }
}

.footer--home {
  .f-socials {
    &__item:nth-of-type(2) {
      background-color: $socialsItemHomeTC;
    }
    &__item, &__item a {
      color: $socialsItemHomeTC;
    }
  }
  .footer {
    &__phone, &__phone a {
      color: $phoneHomeTC;
    }
  }
}

//########################### home
.home-slideshow {
  .slick-prev,
  .slick-next {
    //border-color: $arrowBorderColor;
    &:before {
      background: rgba($arrowBC, .4);
    }
  }
}

//########################## about
.main-text {
  background-color: $mainTextBC;
}
.card {
  //@include linearGradientToRight(nth($cardBorderColor, 1), nth($cardBorderColor, 2));
  &__info {
    background: $cardBodyBC;
  }
  &__title {
    color: $cardTitleTC;
  }
  &__page {
    &:before,
    &:after {
      @include linearGradientToRight( $cardBorderColor1, $cardBorderColor2 );
    }
  }
}
.services {
  &__slider {
    .slick-prev,
    .slick-next {
      &:before {
        background: $sliderArrowBC;
      }
    }
  }
}

//####################### rent

.rent {
  &__head {
    background: $headBC;
  }

  &__text-holder {
    background: $textHolderBC;
  }
}

//####################### category
.category {
  background: $headBC;

  &__expand-list-holder {
    .select2-container {
      .select2-results {
        &__options {
          background: $potPourri;
          border: 2px solid $potPourri;
          box-shadow: 0px 2px 2px 2px rgba(0,0,0,.2);
        }
      }
    }
  }
  &__sort-holder {
    .select2-container {
      .select2-results {
        &__options {
          background: $potPourri;
          border: 2px solid $potPourri;
          box-shadow: 0px 2px 2px 2px rgba(0,0,0,.2);
        }
        &__option {
          color: $spicyMix;
        }
      }
    }
  }
}

.products {
  background: $productBC;
}

.p-card {
  &__photo {
    border-color: $cardBorderColor;
  }
}

.sort + .select2-container {
  .selection {
    .select2-selection {
      &__rendered {
        color: $sortTC;
      }
      &__arrow {
        background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAMAAAAmGUT3AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAOVBMVEUAAACUYk2UYk2UYk2UYk2UYk2UYk2UYk2UYk2UYk2UYk2UYk2UYk2UYk2UYk2UYk2UYk2UYk0AAADcUd45AAAAEnRSTlMAt0B87ymc4BgEuc0UDtDyG8YZzbKwAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+IHEwscFw4lAzMAAAA3SURBVAjXHYpbDgAgCMOGooIP1PtfVrAfS5cUlBAkQubiUjgDtQmkVb/axxxdI1m2bf0Y5x7fBxeEAQfYFiTVAAAAAElFTkSuQmCC") no-repeat center;
      }
    }
  }
}

.expand-list + .select2-container {
  .selection {
    .select2-selection {
      &__rendered {
        color: #000;
        &:after {
          background: #000;
        }
      }
      &__arrow {
        background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAICAQAAACIL71EAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiBxMLGwNbvkGJAAAAbUlEQVQI123NoQ2DYBiE4acGgUHhSBVzMUCZ4N8AWccceDTBIVHUdA7y1bQpJX3d5b3cXSRXN+GX3pNB6E6iEwYyo5AOIgmjDHKT0L5FK0zyT6+wCA0aYVEc10ur3d1uVZ6eVTbhofKH2qz+xhfDWx2uvkpdUwAAAABJRU5ErkJggg==") no-repeat center;
      }
    }
  }
}

//############################### product
.product {
  &__back,
  &__back:link,
  &__back:visited {
    color: #94624d;
    &:before {
      @include linearGradientToRight( lighten(#94624d, 20%), #94624d );
    }
  }

  &__title {
    color: #000;
  }

  &__code {
    color: #90614d;
  }

  &__specification {
    p {
      color: #656666;
    }
  }
}
.p-slider {
  .owl-prev,
  .owl-next {
    &:before {
      background: #ded8d7;
    }
  }
}