.about {
  width: 100%;

  &__blockquote {
    margin-top: -100px;
    position: relative;
    z-index: -1;
  }

  &__main-text {
    margin-top: -150px;
    position: relative;
    z-index: -2;
  }

  &__services {

  }
  &__subscribe {
    margin-bottom: -80px;
  }
}

.blockquote {
  @include displayFlex();
  @include alignItems(center);
  @include justifyCenter();
  @include flexDirection(column);

  width: 100%;
  min-height: 680px;
  background: url('../img/about/pattern.png') no-repeat center;
  background-size: 100% 100%;
  @media screen and (min-width: 0px) and (max-width: 767px) {
    min-height: 480px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {

  }
  &__quote {
    @include displayFlex();
    @include flexDirection(column);

    width: 505px;
    height: 185px;
    margin-top: -75px;
    white-space: pre-line;
    font-size: 20px;
    font-family: "Denistina";
    @media screen and (min-width: 0px) and (max-width: 767px) {
      width: 100%;
      padding: 0 30px;
      font-size: 17px;
      margin-top: 0;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 350px;
    }
  }

  &__autor {
    white-space: pre-line;
    font-size: 10px;
    text-align: right;
    margin-top: 45px;
    font-display: "Helios";
    @media screen and (min-width: $screen-xs) {
      margin-top: 20px;
    }
  }
}

.main-text {
  @include displayFlex();
  @include justifyCenter();

  width: 100%;
  padding: 60px 0;

  &__text {
    text-align: center;
    white-space: pre-line;
    max-width: 480px;
    font-size: 16px;
    line-height: 18px;
    font-family: 'TTDrugs Thin';
  }
}

.services {
  width: 100%;
  min-height: 680px;
  padding-top: 2px;
  @media screen and (min-width: 0px) and (max-width: 767px) {
    min-height: 1080px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include displayFlex();
    @include justifyCenter();
    min-height: 980px;
  }
  &__wrapper {
    display: inline-block;
    position: relative;
  }
  &__slider {
    height: 680px;
    width: 575px;
    position: relative;
    margin-left: 130px;
    @media screen and (min-width: 0px) and (max-width: 767px) {
      margin-left: 0;
      width: 100vw;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-left: 0;
    }
    .slick-list {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .slick-prev,
    .slick-next {
      position: absolute;
      top: 15%;
      z-index: 999;
      background: transparent url("../img/icons/arrow-slider-brown.png") no-repeat center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border:0;
      outline: none;
      cursor: pointer;
      @media screen and (min-width: 0px) and (max-width: 767px) {
        top: initial;
        bottom: 65px;
      }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        top: 40%;
      }
      &:active,
      &:hover {
        outline: none;
      }
      &:before {
        position: absolute;
        content: '';
        width: 70px;
        height: 2px;
        top: calc(50% - 1px);
        left: -55px;
      }
    }
    .slick-prev {
      left: -75px;
      transform: rotate(180deg);
      @media screen and (min-width: 0px) and (max-width: 767px) {
        left: 20px;
      }
    }
    .slick-next {
      right: -75px;
      @media screen and (min-width: 0px) and (max-width: 767px) {
        right: 20px;
      }
    }
  }
  &__photo-holder {
    flex: 0 0 100%;
    height: 680px;
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  &__photo {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%) scale(.9);
  }

  &__card {
    position: absolute;
    bottom: 35px;
    right: -52.5%;
    @media screen and (min-width: 0px) and (max-width: 767px) {
      right: 0;
      bottom: -350px;
    }
    @media screen and (min-width: 768px) and (max-width: 919px) {
      bottom: 50px;
      right: -50px;
    }
    @media screen and (min-width: 920px) and (max-width: 1199px) {
      bottom: 50px;
      right: -100px;
    }
  }
}

.card {
  width: 470px;
  height: 315px;
  padding: 1px;
  @media screen and (min-width: 0px) and (max-width: 767px) {
    width: 100%;
    height: 380px;
  }
  &__info {
    padding: 35px;
    width: 100%;
    height: 100%;
  }
  &__page {
    font-size: 10.56px;
    margin: 0 0 20px 0;
    font-family: 'Playfair Display SC';
  }
  &__title {
    font-size: 24.79px;
    text-align: left;
    margin: 0 0 25px 0;
    font-family: 'Playfair Display SC';
  }

  &__text {
    font-size: 8px;
    white-space: pre-line;
    margin: 0 0 25px 0;
    font-family: 'TTDrugs Thin';
    line-height: 9px;
  }
}

.pro-decor-btn {
  @include displayFlex();
  @include alignItems(center);
  @include justifyCenter();

  width: 134px;
  height: 40px;
  text-transform: uppercase;
  font-size: 10.46px;
  font-family: 'TTDrugs Thin';

  &--home {
    width: 170px;
    border: 2px solid #fff !important;
    background: transparent !important;
    color: #fff !important;
  }
  &--white {
    position: relative;
    color: #000 !important;
    background: #fff url("../img/icons/button-border.png") no-repeat center !important;
    padding: 1px;
    background-size: contain !important;
  }
}

.subscribe {
  @include displayFlex();
  @include alignItems(center);
  @include justifyCenter();

  width: 100%;
  min-height: 565px;

  &__wrapper {
    width: 575px;
  }
  &__text {
    text-align: center;
  }
  &__pro-decor-input {

  }
}
p.subscribe__text {
  font-size: 22.07px;
  font-family: 'Playfair Display SC';
  line-height: 26px;
  margin: 0;
  font-weight: 600;
  letter-spacing: .5px;
  text-transform: none;
  margin-bottom: 20px;
}
.pro-decor-input {
  position: relative;
  min-width: 570px;
  max-width: 1000px;
  @media screen and (min-width: 0px) and (max-width: 767px) {
    min-width: 100%;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {

  }
  textarea.pro-decor-input__field {
    padding-top: 16px;
    resize: none;
    @include transition(all .5s ease);
    &:focus {
      height: 250px;
    }
  }
  textarea.pro-decor-input__field + .pro-decor-input__label {
    top: 20px;
  }
  &__field {
    width: 100%;
    min-width: 570px;
    max-width: 1000px;
    height: 43px;
    min-height: 43px;
    border: 1px solid;
    padding-left: 20px;
    font-size: 11.05px;
    font-weight: 900;
    font-family: 'TTDrugs Thin';
    outline: none;
    @media screen and (min-width: 0px) and (max-width: 767px) {
      min-width: 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {

    }
    &:active {
      outline: none;
    }
    &:focus ~ .pro-decor-input__label {
      opacity: 0;
      pointer-events: none;
    }
  }
  &__label {
    width: 15px;
    height: 1px;
    display: flex;
    position: absolute;
    right: 30px;
    top: calc(50% - .5px);
    @include transition(all .5s ease);
  }
}