.contacts {
  width: 100%;
  height: 100%;
  @include displayFlex();
  @include alignItems(center);
  @include justifyCenter();

  @media screen and (min-width: 0px) and (max-width: 767px) {
    height: 800px;
    @include alignItemsStart();
  }
  &__wrapper {
    margin-right: 35%;
    @media screen and (min-width: 0px) and (max-width: 767px) {
      margin-right: initial;
      margin-top: 200px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: initial;
    }
  }
  &__background {
    background: url("../img/contacts/pattern.png") no-repeat center;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    position: absolute;
    z-index: -1;
    @media screen and (min-width: 0px) and (max-width: 767px) {
      height: 100%;
      background-repeat: repeat-y;
    }
  }
  &__write-us {

  }
}

.socials {
  margin-bottom: 70px;
  &__link {
    cursor: pointer;
    &:first-of-type {
      margin-right: 15px;
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    &:hover {
      cursor: pointer;
    }
  }
}

.phone {
  &--contacts {
    //font-family: "Playfair Display";
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 15px;
    .phone__number {
      color: #000 !important;
    }
  }
}

.write-us {
  &__title {
    color: #000 !important;
    //font-family: "Playfair Display";
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  &__pro-decor-input {
    margin-bottom: 7px;
  }
}
