.footer {
  @include displayFlex();
  @include justifySpaceBetween();
  @include alignItems(center);
  @include flex(0, 0, 100%);

  font-family: 'Playfair Display SC';
  font-size: 11.06px;
  margin: auto 0 0 0;
  max-width: 100%;
  height: 80px;
  position: relative;
  z-index: -1;

  &__phone {
    margin-left: 20px;
  }

  &__f-socials {
    margin-right: 20px;
  }
}

.phone {

}

.f-socials {
  @include displayFlex();
  @include alignItems(center);
  list-style-type: none;
  padding-left: 0;
  @media screen and (min-width: 0px) and (max-width: 767px) {
    flex-wrap: wrap;
    width: 200px;
  }

  &__item {
    margin-right: 15px;
    @media screen and (min-width: 0px) and (max-width: 767px) {
      width: 50%;
      margin-right: 0;
      text-align: center;
    }
    &:nth-of-type(1) {
      @media screen and (min-width: 0px) and (max-width: 767px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    &:nth-of-type(2) {
      width: 160px;
      height: 1px;
      @media screen and (min-width: 0px) and (max-width: 767px) {
        display: none;
      }
    }

    &:nth-of-type(3),
    &:nth-of-type(4) {
      text-transform: capitalize;
    }
  }
  &__link {
    &:hover {
      text-decoration: none;
    }
  }
}