.header {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  font-family: 'Playfair Display SC';
  font-size: 11.05px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  height: 80px;

  &__logo {

  }
  &__menu {

  }

}

.logo {
  margin-left: 20px;
  &__icon {
    background: url('../img/icons/logoProDecor.png') no-repeat center;
    background-position: 0 0;
    width: 170px;
    height: 71px;
    display: block;
  }
  &--home {
    .logo__icon {
      background-position: 0 -71px;
    }
  }
}

.menu {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  position: relative;
  @include transition(all .5s ease);

  .underline {
    position: absolute;
    min-width: 20px;
    height: 1px;
    bottom: -7px;
    opacity: 0;
    @include transition(all .5s ease);
  }
  &__item.active ~ .underline {
    opacity: 1;
  }
  &__item {
    margin-right: 75px;
    &:last-of-type {
      margin-right: 35px;
    }
    &:hover ~ .underline {
      opacity: 1;
    }
  }

  &__link {
    &:hover {
      text-decoration: none;
    }
  }
}