.home-slideshow {
  width: 100%;
  height: 100vh;
  background: #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  overflow: hidden;

  .slick-list {
    position: absolute;
    top: -1px;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 35%;
    left: 25px;
    z-index: 999;
    background: transparent url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEMAAABDCAQAAABtw3D4AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiBxAPOy0HUG/WAAAEDElEQVRo3sWaz09UVxTHP++RGcB0BGRhZqMFEpXUhGj5tSpsbNKCTQmYqI2QuLRNTGoX8E9Y06DGbWvSDYmxNIqOFLpzUjtqygvUBThjwigjrYJN0Uq+XQzTGeB1mDfMzL1nM3PPyc0n57x7z73nXkt4bhW00cJ+ZhjmNQA2Foc4yxumiRDmL69DWp4w9nCSI7Ti8CszhInw9j9dNc0coJH3aeIXxrhKzMPIyk3KNaAJJXRZ3dq5hW1A3bqshCY0oPLcxs/FqFJfKq6Q+nIddA28VyHFdU6VhcDoU1SjavcAkCnt+kEx9W0Po15jctSZJ0JKOuXolurzxejXoobk3yYEQn4NalED3jF8uqRZtRYAISUtmtUl+dy17hM2wAirnOSF90UlS6vme8roZXmzynYxr+EOUY4WGAJe8AkJ7lCTy7pRpbu6IKuA4cgUS98orKqtguLnJnFOkccan2Oz+I4gH/EmW1DOs8rpIkKAOM1bzmcLSq/mVF2kcGRKtebWL2mZyjotFHSKZpNWLajODcPSuIZKBIHQkH5KT4R092dy/m9xKYr45OjURoxKxbadO7xKp56ksm9qppzhIZNFnB9ubZIHnMmcKX7N553KtyNtmk+mzqQ3juNwt8S+AAjjcCLtjQn1GvAFQr2aSH2ie5XwtL0rpJQrob3JoJxgZG2jX/r2mhGOJ3PKEa4ZggC4xodgqYKnBPnbGEYFcYI27UwZhIAVHNptDvPQIATAA5ptDjJtGGOGgzYNPDKM8Tt1NruZM4wRY7fNOywaxlgmYBNwOzeUGsOSsAxjgGyW8BmGCPCPzTIB4xjLNq+oNY7xh80z6gxj7GHeZpZ9hjH2M2fj0GgY4wCOzT2aDGM0cc9SBXGCrBiDKOcpQZsVInxg0BcdRFixgRA9BjE+JYTxnbk/vTOPMkW3IV8cZYooa8elfoUMeSOUrJamXBNVmwGIVsWSZ9hUx+caNYAxqi+Sv1IdlXqijhJDdKTrG+nOvpJXe6bUn/qXqRjTYAkxBt1rX8lKYEuJIFq0kHm1sV7ZV7K66KyOZfZsNBjWqMqKDOHXDQ2v79tsMq4rRSvcI2TpqsY3XhZtNqtSWF8X8QbhgtsNgpvpLoV1pSih8elbhbVrs8bdfKdu60bBP9Zq3VTI/RbXds17S3QRJUJzAXNpMxEe8zFLrtos9AN6rsGCrKw+Dep5PjePSWnQLTnbzjUdmtJtNWSz2XqQY4rpet7bgFZdV2z9UpUfBtqhc4orpB6Pd/Q9Cimur7Rja+vcBx3QpBK6qC4FtrANqEsXldDPub9YyO/9xm9EmOYRj1nkT4RFDbW8yz4aOcwh7vOjt/cb3jCSLfma5T3qCVJLFWWs8pJF4szicJ8wr7wO+S/tWdEuskOkQQAAAABJRU5ErkJggg==") no-repeat center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:0;
    outline: none;
    @media screen and (min-width: 0px) and (max-width: 767px) {
      left: 0;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      left: 20px;
    }
    cursor: pointer;
    &:active,
    &:hover {
      outline: none;
    }
    &.slick-disabled {
      opacity: .5;
    }
    &:after {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: transparent url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAQAAABUDBdwAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfiBxAPLi6p7Nh4AAAASklEQVQI102MoRGAMBDA8vZ1FQuwDNMwCLYz4NG/BwswQm0QHHeNi0iwMWELTx72EAwOFkzLbhh2ywwwubiBlS3GV6ZlmfMsf30BUOkeJ+Y9TNIAAAAASUVORK5CYII=") no-repeat center;
    }
  }
  .slick-next.slick-disabled,
  .slick-prev.slick-disabled {
    pointer-events: none;
  }

  .slick-next.slick-disabled:active {
    &:active {
      transform: translateY(0);
      @media screen and (min-width: 0px) and (max-width: 767px) {
        transform: scale(.5) translateY(0);
      }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        transform: scale(.8) translateY(0);
      }
    }
    &:active .slick-next:before {
      transform: translateY(0);
    }
  }
  .slick-prev.slick-disabled:active {
    &:active {
      transform: rotate(180deg) translateY(0);
      @media screen and (min-width: 0px) and (max-width: 767px) {
        transform: scale(.5) rotate(180deg) translateY(0);
      }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        transform: scale(.8) rotate(180deg) translateY(0);
      }
    }
    &:active .slick-prev:before {
      transform: translateY(0);
    }
  }
  .slick-prev {
    transform: rotate(180deg);
    @media screen and (min-width: 0px) and (max-width: 767px) {
      transform: rotate(180deg) scale(.5);
      top: 40%;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      transform: rotate(180deg) scale(.8);
    }
    &:before {
      position: absolute;
      content: '';
      width: 2px;
      height: 70px;
      top: -55px;
      left: calc(50% - 1px);
    }
    &:active {
      transform: rotate(180deg) translateY(3px);
      @media screen and (min-width: 0px) and (max-width: 767px) {
        transform: rotate(180deg) scale(.5) translateY(3px);
      }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        transform: rotate(180deg) scale(.8) translateY(3px);
      }
    }
    &:active .slick-prev:before {
      transform: translateY(3px);
    }
  }
  .slick-next {
    top: calc(35% + 200px);
    @media screen and (min-width: 0px) and (max-width: 767px) {
      transform: scale(.5);
      top: calc(40% + 100px);
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      transform: scale(.8);
    }
    &:before {
      position: absolute;
      content: '';
      width: 2px;
      height: 70px;
      top: -55px;
      left: calc(50% - 1px);
    }
    &:active {
      transform: translateY(3px);
      @media screen and (min-width: 0px) and (max-width: 767px) {
        transform: scale(.5) translateY(3px);
      }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        transform: scale(.8) translateY(3px);
      }
    }
    &:active .slick-next:before {
      transform: translateY(-3px);

    }
  }

  .slick-dots {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 999;
    & li {
      display: flex;
      list-style-type: none;
      justify-content: flex-end;
      margin-bottom: 5px;
      &:hover button {
        width: 20px;
      }
    }
    & li button {
      color: transparent;
      width: 15px;
      height: 1px;
      background-color: #fff;
      border: 0;
      transition: all .5s ease;
      padding: 0;
      cursor: pointer;
      outline: none;
      &:active,
      &:hover {
        outline: none;
      }
    }
    & li.slick-active button {
      width: 30px;
    }
  }

  &__item {
    width: 100vw !important;
    height: 100vh;
    position: relative;
  }
  &__background.noblur {
    -webkit-filter: blur(0);
     -moz-filter: blur(0);
       -o-filter: blur(0);
      -ms-filter: blur(0);
          filter: blur(0);
  }
  &__background {
    padding: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    -webkit-filter: blur(20px);
     -moz-filter: blur(20px);
       -o-filter: blur(20px);
      -ms-filter: blur(20px);
          filter: blur(20px);
    transform: translate(-50%, -50%) scale(1.02);
    @media screen and (min-width: 0px) and (max-width: 767px) {
      width: initial;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: initial;
    }
  }
}