.rent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__head {
    width: 100%;
    height: 415px;
    margin-top: -80px;
    position: relative;
  }

  &__subscribe {
    margin-bottom: -80px;
  }

  &__text-holder {
    max-width: 67.4796%;
    margin-top: -115px;
    position: relative;
    padding: 65px 30px 80px 30px;
  }

  &__title {
    margin-bottom: 25px;
    font-size: 22px;
  }

  &__text {
    font-family: "TTDrugs Thin";
    font-size: 16px;
    font-weight: 600;
    color: #000;
    display: flex;
    margin-bottom: 90px;
  }
  &__pattern {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 235px;
    background: url('../img/rent/pattern.png') repeat-x left bottom;
    transform: scale(.9) translate(-56%, 12px);
  }
}