.rent {
  width: 100%;
  @include displayFlex();
  @include alignItems(center);
  @include justifyCenter();
  @include flexDirection(column);

  &__head {
    width: 100%;
    height: 415px;
    margin-top: -80px;
    position: relative;
  }

  &__subscribe {
    margin-bottom: -80px;
  }

  &__text-holder {
    max-width: 67.4796%;
    margin-top: -115px;
    position: relative;
    padding: 65px 30px 80px 30px;
    @media screen and (min-width: 0px) and (max-width: 767px) {
      max-width: 100%;
      width: 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {

    }
  }

  &__title {
    margin-bottom: 25px;
    font-size: 22px;
  }

  &__text {
    font-family: "TTDrugs Thin";
    font-size: 16px;
    font-weight: 600;
    color: #000;
    @include displayFlex();
    margin-bottom: 90px;
    @media screen and (min-width: 0px) and (max-width: 767px) {
      display: block;
    }
  }
  &__btn a {
    @media screen and (min-width: 0px) and (max-width: 767px) {
      margin-top: 15px;
    }
  }
  &__pattern {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 235px;
    background: url('../img/rent/pattern.png') repeat-x left bottom;
    transform: scale(.9) translate(-56%, 12px);
  }
}