//################################################### gradient
@mixin linearGradientToBottom($fromColor, $toColor) {
  background: $fromColor; /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor));
  background: -webkit-linear-gradient(top, $fromColor, $toColor);
  background: -moz-linear-gradient(top, $fromColor 0%, $toColor 100%); /* FF3.6-15 */
  background: -o-linear-gradient(top, $fromColor, $toColor);
  background: linear-gradient(to bottom, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$fromColor, endColorstr=$toColor,GradientType=0 ); /* IE6-9 */
}

@mixin linearGradientToRight($fromColor, $toColor) {
  background: $fromColor; /* Old browsers */
  background: -webkit-gradient(linear, left, right, from($fromColor), to($toColor));
  background: -moz-linear-gradient(left, $fromColor 0%, $toColor 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $fromColor 0%,$toColor 100%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(left, $fromColor, $toColor);
  background: linear-gradient(to right, $fromColor 0%,$toColor 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$fromColor, endColorstr=$toColor,GradientType=1 ); /* IE6-9 */
}